.header {
    width: 100%;
    position: absolute;
    padding: 16px 24px 8px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoLink {
    display: flex;
}

.logo {
    width: auto;
    height: 24px;
}

@media (width <=640px) {
    .header {
        padding: 24px 16px 8px;
    }
}